*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

#textoblanco{
    color: white !important;    
}
#footer{
    width: 100%;
    /*height: 50px;*/
}
#content-footer{
    width: 100%;
    background: rgb(22,103,223);
}
#lbl-footer{
    color: white;
    font-size: 18px;
}
