*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
#footer{
    width: 100%;
    height: 50px;
}
#content-footer{
    width: 100%;
    height: 50px;
    background: rgb(22,103,223);
}
#lbl-footer{
    font-size: 18px;
}
